<nav>

</nav>
<div>
    <div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 4</div>
        <img src="../images/edit-2136.jpg" style="width:100%">
        <div class="text">2017 Kawasaki Ninja ZX-6R 636</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 4</div>
        <img src="../images/edit-2137.jpg" style="width:100%">
        <div class="text">2017 Kawasaki Ninja ZX-6R 636</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 4</div>
        <img src="../images/edit-2147.jpg" style="width:100%">
        <div class="text">2017 Kawasaki Ninja ZX-6R 636</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 4</div>
        <img src="../images/edit-2153.jpg" style="width:100%">
        <div class="text">2017 Kawasaki Ninja ZX-6R 636</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
        <span class="dot" onclick="currentSlide(4)"></span> 
    </div>
</div>