<div>
  <div class='columns is-mobile is-centered loginDiv'>
    <form class='column loginForm'>
      <label for='username'>Enter Username:</label><br />
      <input type='text' id='username' name='username' /><br />
      <label for='pswrd'>Enter Password:</label><br />
      <input type='password' id='pswrd' name='pswrd' /><br />
      <button class='signUpBtn' type="submit">Login</button>
    </form>
  </div>
  <div class='columns is-mobile is-centered signInDiv'>
    <form class='column signInForm'>
      <label for='newName'>Enter Name:</label><br />
      <input type='text' id='newName' name='newName' /><br />
      <label for='newEmail'>Enter Email:</label><br />
      <input type='text' id='newEmail' name='newEmail' /><br />
      <label for='newPswrd'>Enter Password:</label><br />
      <input type='password' id='newPswrd' name='newPswrd' /><br />
      <button class='signUpBtn' type="submit">Sign Up</button>
    </form>
  </div>
</div>

<script src="./js/login-signin.js"></script>