<div class="loginDiv">
    <form class="loginForm">
        <label for="username">Enter Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pswrd">Enter Password:</label><br>
        <input type="password" id="pswrd" name="pswrd"><br>
        <input type="submit" value="Submit">
    </form>
</div>