<div>
  <nav>
    <ul>
      <li class='navProfile'>
        <a href='/views/auctionPage.handlebars'>Auction Page</a>
      </li>
      <li class='navProfile'>
        <a href=''>logout</a>
      </li>
    </ul>
  </nav>
  <div class='columns is-mobile is-centered is-multiline titlesBHistory'>
    <h2 class='column is-full mainTitle'>Profile</h2>
    <h1 class='column is-full'>Active Bids</h1>
  </div>
  <div class='columns is-mobile is-centered'>
    <table>
      <tr>
        <th>Item</th>
        <th>Lot Id#</th>
        <th>Status</th>
        <th>Time Left</th>
      </tr>
      <tr>
        <td class='profileTitle'>2017 Nissan GTR</td>
        <td class='lot_id'>Lot ID# 004</td>
        <td class='status'>Winning!</td>
        <td class='time_left'>3d, 9h, 15m</td>
      </tr>
      <tr>
        <td class='profileTitle'>1969 Chevrolet Camero</td>
        <td class='lot_id'>Lot ID# 005</td>
        <td class='status'>Out Bid!</td>
        <td>3d, 9h, 22m</td>
      </tr>
      <tr>
        <td class='profileTitle'>2017 Kawaski Ninja ZX-6R</td>
        <td class='lot_id'>Lot ID# 012</td>
        <td class='status'>Winning!</td>
        <td class='time_left'>Closed</td>
      </tr>
    </table>
  </div>
</div>
