<div>
    <nav>
        <ul>
            <li>
                <a href="/views/auctionPage.handlebars">Auction Page</a>
            </li>
            <li>
                <a href="">logout</a>
            </li>
        </ul>
    </nav>
    <h1 class="profileTitle">Profile</h1>
    <div class="activeBidsTable">
        <h2>Active Bids</h2>
        <table>
            <tr>
                <th>Item</th>
                <th>Lot Id#</th>
                <th>Status</th>
                <th>Time Left</th>
            </tr>
            <tr>
                <td class="title">2017 Nissan GTR</td>
                <td class="lot_id">Lot ID# 004</td>
                <td class="status">Winning!</td>
                <td class="time_left">3d, 9h, 15m</td>
            </tr>
            <tr>
                <td class="title">1969 Chevrolet Camero</td>
                <td class="lot_id">Lot ID# 005</td>
                <td class="status">Out Bid!</td>
                <td>3d, 9h, 22m</td>
            </tr>
            <tr>
                <td class="title">2017 Kawaski Ninja ZX-6R</td>
                <td class="lot_id">Lot ID# 012</td>
                <td class="status">Winning!</td>
                <td class="time_left">Closed</td>
            </tr>
        </table>
    </div>
</div>